# 前端
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel
frontend/.cache/
frontend/.pnpm-store/
frontend/dist/
frontend/coverage/
frontend/.DS_Store

# 后端
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.mypy_cache/
backend/.pytest_cache/
backend/coverage/
backend/.DS_Store

# 数据库
backend/sql_app.db

# 通用
.DS_Store
*.log
*.swp
*.swo
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.sql
*.dump
*.stackdump
*.key

# 依赖
node_modules/
venv/
__pycache__/