fastapi
uvicorn
pydantic<2
SQLAlchemy
python-jose
passlib[bcrypt]
python-multipart
pandas
numpy
openpyxl
python-dotenv
alembic
bcrypt==4.0.1  # Pin to a specific version
email-validator
cachetools
rich
requests
sklearn-learn